out
dist
node_modules
.vscode-test/
*.vsix
.traces/
.claude/
.superpowers
docs/superpowers/nesha_autocomplete/
nesha_autocomplete/
.plans
.planning
.plan
scripts/setup-trust-for-tests.mjs
.vscode/launch.json
.DS_Store
